
@{
    ViewData["Title"] = "IndexPage";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Control Office Student Result System</h1>
 
    <img src="~/images/du.jpg" alt="Trulli" width="500" height="333"/>
    <p>Learn about <a href="https://du.ac.bd">University of Dhaka</a>.</p>
</div>

